---
import BaseLayout from "@/layouts/BaseLayout.astro"
import Sidebar from "@/components/sidebar/Sidebar.astro"

const pageTitle = "Blog"
---

<BaseLayout title={pageTitle}>
	<Sidebar />
	<h1>BLOG</h1>
</BaseLayout>
