---
import BaseLayout from "@/layouts/BaseLayout.astro"
import ArticleRow from "@/components/article/ArticleRow.astro"
import Icon from "astro-icon"

const pageTitle = "Blog"

const tags = [
	{
		name: "javascript",
		color: "yellow",
		icon: "js",
	},
	{
		name: "vue",
		color: "green-200",
		icon: "vue",
	},
	{
		name: "react",
		color: "blue",
		icon: "react-ts",
	},
]
---

<BaseLayout title={pageTitle}>
	<div class="flex flex-col w-full">
		<h1 class="text-7xl ml-6 mt-12">Blog</h1>
		<div class="flex mt-12 ml-6">
			<span class="text-light">Tags:</span>
			<ul class="flex gap-4 ml-6">
				{
					tags.map((icon) => (
						<li class="cursor-pointer">
							<div
								class={`bg-${icon.color} text-dark px-1 flex items-center gap-2`}
							>
								<Icon name={icon.icon} class="w-6 h-6" />
								<span class="uppercase">{icon.name}</span>
							</div>
						</li>
					))
				}
			</ul>
		</div>
		<div class="h-12 w-full bg-dark-100 mt-8 mb-2 flex items-center px-4">
			<Icon name="mdi:magnify" class="h-6 w-6 cursor-pointer" />
			<input
				type="text"
				class="h-12 w-full bg-transparent pl-4 focus:outline-none"
				placeholder="Search..."
			/>
		</div>

		<span class="text-dark-300 text-center">27 results</span>

		<ul>
			<li>
				<ArticleRow />
			</li>
		</ul>
	</div>
</BaseLayout>
