---
import Header from "@/components/Header.vue"
---

<html>
	<head>
		<title>Vlad Polevoi - JavaScript Developer</title>
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to My Portfolio</h1>
			<img src="/path-to-your-photo.jpg" alt="Vlad Polevoi" />
		</main>
	</body>
</html>
