---
import Icon from "astro-icon"
import type { ISidebarItem } from "@/components/sidebar/ISidebarItem"
import SidebarItemWithLink from "./SidebarItemWithLink.astro"

interface Props {
	item: ISidebarItem
	level?: number
}

const { item, level = 0 } = Astro.props
const isFolder = !!item?.routes?.length
const iconName = item.icon || item.fileExtension
---

<li class=`sidebarItem` style={{ paddingLeft: `${24 + level * 16}px` }}>
	<div
		class:list={[
			"h-2 w-2",
			{ "border-t-2 border-r-2 border-light rotate-45": isFolder },
		]}
	>
	</div>
	<Icon name={iconName} class="h-6 w-6" />
	<span>
		{item.label}
		{item.fileExtension ? `.${item.fileExtension}` : ""}
	</span>
</li>
{
	isFolder && (
		<ul class="hidden" data-container>
			{item.routes?.map((route) => (
				<SidebarItemWithLink item={route} level={level + 1} />
			))}
		</ul>
	)
}

<script>
	const itemElement = document.querySelector(".sidebarItem")
	const containerElement = document.querySelector("[data-container]")

	itemElement?.addEventListener("click", () => {
		itemElement.classList.toggle("open")
		containerElement?.classList.toggle("open")
	})
</script>

<style lang="scss">
	.sidebarItem {
		@apply w-full py-1 px-6 flex items-center gap-2 cursor-pointer hover:bg-dark-100;

		&.open {
			div:first-child {
				@apply rotate-[135deg];
			}
		}
	}

	[data-container].open {
		@apply block;
	}
</style>
